[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
django = "*"
asyncio = "*"
emoji = "*"
ipython = "*"
arrow = "*"

[dev-packages]

[requires]
python_version = "3.6"
